*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #F5F7FB;
    background-image: url('images/blob_blue.png'), url('images/blob_orange.png');
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: 120% -30%, -20% 150%;
    
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-page{
    margin-top: 100px;
    
    
    justify-content: center;
    align-items: center;
  
}
.start-page--title{
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #293264;
    text-align: center;
}

.start-page--description{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #293264;
    text-align: center;
}
.start-page--button{
    margin-top: 30px;
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 18px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}
.question-container{
    max-width: 800px;
}
.question{
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #293264;
    text-align: left;  
}


.question-variant{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #293264;
    background-color: #F5F7FB;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 2px solid #4D5B9E;
    padding: 3px 20px 3px 20px;
    cursor: pointer;
}
.question-selected{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #293264;
    background-color: #D6DBF5;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 3px 20px 3px 20px;
    cursor: pointer;
}

.correct_answer{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #293264;
    background-color: #94D7A2;
    border-radius: 10px;
    margin-right: 15px;
    border: none;
    margin-bottom: 15px;
    padding: 3px 20px 3px 20px;
    pointer-events: none;
}
.incorrect_answer{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #4D5B9E;
    background-color: #F8BCBC;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 3px 20px 3px 20px;
    pointer-events: none;
}
.other_answer{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #4D5B9E;
    background-color: #F5F7FB;
    border-radius: 10px;
    margin-right: 15px;
    border: 2px solid #4D5B9E;
    padding: 3px 20px 3px 20px;
    pointer-events: none;
}


.check-button{
    margin-top: 30px;
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 18px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin-left: 30%;
    cursor: pointer;
}
.line{
    border: 1px solid #DBDEF0;
}
.score-container{
    display: flex;
    justify-content: center;
}
.score-container >button{
    margin-left: 50px;
}
.score-container > h2{
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #293264;
    text-align: left; 
    margin-top: 45px;
}